# Listas
Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla.

In [113]:
L1 = [] # Lista vacía

In [114]:
L2 = ['a', 'e', 'i', 'o', 'u'] # Lista con valores iniciales

In [115]:
L3 = [2,3,5,7,11] # Lista con valores enteros

In [116]:
L4 = ['a', 5, True, "Juan Gabriel"] # Lista heterogénea con varios tipos de datos diferentes

In [117]:
L4

['a', 5, True, 'Juan Gabriel']

In [118]:
L5 = [0]*10

In [119]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [120]:
L4[0] # Las listas en Python empiezan en la posición número 0

'a'

In [121]:
L4[1]

5

In [122]:
L5[4] = 3.1415 # Modificación de valores

In [123]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [124]:
L5[3] = 8

In [125]:
L5[3]

8

In [126]:
L4[0:2] # Accesos de posiciones múltiples (incluye la primera, pero no la última)

['a', 5]

In [127]:
L5[1:4] = [1,2,3]

In [128]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [129]:
L5.append(8)

In [130]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [131]:
L5.remove(3)# Elimina la primera ocurrencia del objeto 3 de la lista L5

In [132]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8]

In [133]:
L5.reverse()

In [134]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [135]:
L5.count(0)

6

In [136]:
L5.index(2)

7

In [137]:
len(L5)

10

In [138]:
L = [1,2,3,4,5,6]

In [139]:
L[1::2]#Sacar elementos en posición impar

[2, 4, 6]

In [140]:
L[::2]#Sacar elementos en posición par

[1, 3, 5]

In [141]:
L[-1]

6

In [142]:
8 in L

False

In [143]:
4 in L

True

# Bucles

Los bucles **for** iteran sobre una colección (una lista, un string, un objeto iterable)

In [144]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [145]:
numero

6

In [146]:
for x in range(0,10): # range(10) = range(0,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [147]:
for l in "Lalo Lozas":
    print(l)

L
a
l
o

L
o
z
a
s

In [148]:
notas = [3.5, 6.7, 8, 9, 4.5]
suma = 0
for nota in notas:
    suma = suma + nota
print(suma/len(notas))

6.34

El bucle **while** se repite hasta que la condición booleana deja de ser cierta.

In [149]:
count = 0
while count < 10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9

In [150]:
primos = [2,3,5,7,11,13,17,19,23,29]
for idx, p in enumerate(primos): 
    print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [151]:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

# Tupla
Una tupla es una colección de objetos que no puede modificarse (tiene tamaño y contenido fijo).

In [152]:
p1 = (1,)

In [153]:
p1

(1,)

In [154]:
p2 = (1,2,3,4)

In [155]:
p2

(1, 2, 3, 4)

In [156]:
p3 = (1,2,'c',3.1415)

In [157]:
p3

(1, 2, 'c', 3.1415)

In [158]:
p3[0]

1

In [159]:
p3[0:2]

(1, 2)

In [160]:
a,b,c,d = p3

In [161]:
a

1

In [162]:
b

2

In [163]:
c

'c'

In [164]:
d

3.1415

In [165]:
l3 = list(p3)
l3

[1, 2, 'c', 3.1415]

In [166]:
p5 = tuple(L5)
p5

(8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0)

In [167]:
"Hola que tal   estás".split(" ")

['Hola', 'que', 'tal', '', '', 'estás']

In [168]:
"4,6,2,7,9,4,2".split(",")

['4', '6', '2', '7', '9', '4', '2']

In [169]:
numeros = input("Escribe números separados por comas.")
numerosL = numeros.split(",")
print(numerosL)
numerosT = tuple(numerosL)
print(numerosT)

['9', '8']
('9', '8')

In [170]:
suma = 0
for n in numerosT:
    suma += int(n)
    
print(suma/len(numerosT))

8.5

# Diccionario
Colección no ordenada de pares de valores: claves <-> valores. Se indexa no por posición, si no utilizando las claves

In [171]:
nombre = input("Introduce aquí tu nombre")
print("Hola %s"%nombre)

Hola Lalo

In [172]:
print("Estos son los números primos: %s"%primos)

Estos son los números primos: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [173]:
print("Esto es un número: %d"%suma)

Esto es un número: 17

In [174]:
media = suma/len(numerosT)
print("Esto es un número decimal: %.0f"%media)

Esto es un número decimal: 8

In [175]:
edad = {
    "Juan Gabriel":30, 
    "María":20, 
    "Ricardo":53, 
    "Antonio":45
}

In [176]:
edad["Ricardo"]

53

In [177]:
edad["Ricardo"] = 52

In [178]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52, 'Antonio': 45}

In [179]:
edad.keys()

dict_keys(['Juan Gabriel', 'María', 'Ricardo', 'Antonio'])

In [180]:
edad.values()

dict_values([30, 20, 52, 45])

In [181]:
len(edad)

4

In [182]:
"Pepe" in edad

False

In [183]:
"María" in edad

True

In [184]:
"Mario" not in edad

True

In [185]:
del edad["Antonio"]

In [186]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52}

In [187]:
notas = {"Al1": 5.6, "Al2":7.5, "Al3": 10, "Al4":False}
notas

{'Al1': 5.6, 'Al2': 7.5, 'Al3': 10, 'Al4': False}